#title {
  text-align: center;
}

#assignment-details {
  margin: 5px;
  min-width: 200px;
  max-width: 400px;
}

#assignment-title {
  margin-top: 20px;
  background-color: rgb(194, 189, 189);
  color: white;
  border-radius: 2px;
  padding: 2px;
  font-weight: bold;
  text-align: center;
}

#due-date {
  font-weight: bold;
  text-align: center;
  margin-top: 3px;
}

#notes-section {
  margin-top: 10px;
}

li {
  margin-left: 14px;
}
