.calendar {
  border: 2px solid black;
  margin-top: 30px;
  text-align: center;
  height: 750px;
}

.month-indicator {
	/* border: 2px solid red; */
}

.day-of-week {
	/* border: 2px solid blue; */
  display: grid;
  grid-template-columns: repeat(7, minmax(25px, 200px));
  margin: 10px;
  font-size: 2vw;
}

.date-grid {
	/* border: 2px solid green; */
  display: grid;
  grid-template-columns: repeat(7, minmax(25px, 100px));
  grid-template-rows: repeat(6, minmax(25px, 100px));
  justify-content: center;
}

.grid-day {
  display: inline-flex;
  outline: 1px solid black;
}


