.title {
  text-align: center;
}

#day-view-container {
  /* outline: 2px solid black; */
  height: 90vh;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

#assignment-list {
  display: flex;
  flex-direction: column;
  outline: 2px solid red;
}

#schedule {
  outline: 2px solid blue;
}

#todo-list {
  outline: 2px solid green;
}

#assignment-list, #schedule, #todo-list {
  width: 400px;
  box-shadow: 5px 5px 5px 1px #cccccc;
}
