
<header>
  <nav class="nav-bar" >
    <div style="display: flex; justify-content: space-between;">
      <a [routerLink]="['/']" id="home-pic">Home-Placeholder</a>
      <div
        [ngClass]="{ show: isExpanded }">
        <ul class="list">
          <li class="list-item" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/']">Home</a>
          </li>
          <li class="list-item" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/year-view']">Year</a>
          </li>
          <li class="list-item" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/month-view']">Month</a>
          </li>
          <li class="list-item" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/day-view']">Day</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
